body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
    font-size: 3rem;
}

h1:hover {
    text-shadow: red -3px 0, cyan 3px 0;
}