* {
    margin: 0;
    box-sizing: border-box;
}

.gallery {
    min-height: 100vh;
    width: 80%;
    outline: 10px solid #000;
    margin: 0 auto;

    display: grid;
    /* grid-template-columns: 
    repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: 
    repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 30px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* cambia el 350px por la función min(350px, 100%)
para que la imagen sea de 350px o el 100% si la 
pantalla se achica mucho*/